@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color palette
#F8F6F4 background offwhite

#604c53 text drak gray
*/

body {
  margin: 0px;
  padding: 0px;
  /* background-color: #f8f6f4; */
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  padding-bottom: 16px;
  vertical-align: baseline;
  background-color: rgb(243 244 246);
}
input {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 12px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.16px;
  border-radius: 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  background-color: #f4f4f4;
  padding: 0 16px;

  color: #161616;
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9), outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
  overflow: visible;
}
input:focus {
  outline: 2px solid #0f62fe;
  outline-offset: -2px;
  overflow: visible;
}
::placeholder {
  text-align: left;
  overflow: visible;
}

/*navbar */
.navbar {
  border-bottom: 1px solid #d4d3d3;
}
.hamburger-icon {
  display: none;
}
/*Homepage */
.homepage-container {
  height: 84dvh;
  overflow-y: hidden;
}
.get-started-btn {
  -webkit-box-shadow: 5px 5px 43px -18px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: 5px 5px 43px -18px rgba(0, 0, 0, 0.88);
  box-shadow: 5px 5px 43px -18px rgba(0, 0, 0, 0.88);
  border: 1px solid rgb(0, 0, 0, 0.07);
}

/* Funding Setup*/
.payment-card {
  background-color: white;
  -webkit-box-shadow: 4px 4px 17px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 4px 4px 17px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 4px 4px 17px 0px rgba(0, 0, 0, 0.22);
}
/*Role selection */
.role-container {
  background-color: white;
  -webkit-box-shadow: 3px 3px 21px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 3px 3px 21px -7px rgba(0, 0, 0, 0.35);
  box-shadow: 3px 3px 21px -7px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
}

/*Warehousing Hub */
.card-btn:hover {
  background-color: green;
  color: white;
}
/*Supplier/Warheouse hubs */
.issue-invoice-container {
  padding: 16px;
  background-color: white;
  border-radius: 16px;
}

.issue-invoice-btn {
  padding: 8px 16px;
  background-color: black;
  color: white;
  border-radius: 16px;
}
.generate-request-container,
.view-requests-container,
.view-orders-request-container,
.view-sent-distribution-requests-container {
  min-width: 260px;
  background: white;
  -webkit-box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.24);
  box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.24);
  max-width: 640px;
  height: 600px;
  max-height: 640px;
}

.sidebar-container {
  width: 400px;
  max-width: 700px;
  min-width: 340px;
  border-left: 1px solid #d4d3d3;
}
.side-bar-header {
  height: 58px;
}

/*Activity Card */
.activity-card-container:hover {
  background-color: aliceblue;
  cursor: pointer;
}
.activty-btn:hover {
  background-color: rgb(59 130 246);
  color: white;
}
/*Manufacturer Generate Invoice Pages*/
.enter-warehouse-details-container,
.enter-manufacture-details-container,
.enter-logistics-details-container,
.review-details-container,
.enter-supplier-details-container {
  background-color: white;
  max-width: 400px;
}
.warehouse-input,
.manufacture-input,
.logistics-input,
.supplier-input {
  color: rgba(0, 0, 0, 0.87);
  border-bottom-color: rgba(0, 0, 0, 0.42);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.009375em;
  text-decoration: inherit;
  text-transform: inherit;
  align-self: flex-end;
  box-sizing: border-box;
  width: auto;
  padding: 20px 16px 6px;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-bottom: 1px solid;
  border-radius: 4px 4px 0 0;
  background: rgb(245, 245, 245);
  height: auto;
}
.warehouse-input:hover,
.manufacture-input:hover,
.logistics-input:hover,
.supplier-input:hover {
  border-bottom-color: rgba(0, 0, 0, 0.87);
  background: #ececec;
}
.warehouse-input:focus,
.manufacture-input:focus,
.logistics-input:focus,
.supplier-input:focus {
  border-color: #6200ee;
}
.warehouse-submit-btn,
.manufacture-submit-btn {
  background-color: rgb(157, 252, 255);
}
/*Mobile Hamburger */
.mobile-hamburger-display {
  height: 100dvh;
  width: 100dvw;
}

.customers-dropdown-container-inactive,
.manufacturers-dropdown-container-inactive,
.warehouses-dropdown-container-inactive,
.logistics-dropdown-container-inactive {
  display: none;
}

.customers-dropdown-container-active,
.manufacturers-dropdown-container-active,
.warehouses-dropdown-container-active,
.logistics-dropdown-container-active {
  display: block;
}

/*OPen orders*/
.open-order-card {
  background: white;
}

/*warehouse-orders*/
.supplier-accepts-button {
  background-color: whitesmoke;
  padding: 8px 16px;
  border-radius: 16px;
}

/*create account */
.username-input,
.password-input,
.confirm-password-input {
  font-size: 12px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.16px;
  border-radius: 16px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  background-color: white;
  padding: 0 16px;

  color: #161616;
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9), outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
  overflow: visible;
}
.username-input:focus,
.password-input:focus,
.confirm-password-input:focus {
  outline: 2px solid #0f62fe;
  outline-offset: -2px;
  overflow: visible;
}

.user-category-input {
  font-size: 12px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.16px;

  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  background-color: white;
  padding: 0 16px;

  color: #161616;
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9), outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
  overflow: visible;
}
.create-account-page-container {
  -webkit-box-shadow: 5px 5px 20px -8px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 5px 5px 20px -8px rgba(0, 0, 0, 0.33);
  box-shadow: 5px 5px 20px -8px rgba(0, 0, 0, 0.33);
  border: 1px solid rgb(0, 0, 0, 0.07);
}
@media (max-width: 1024px) {
  /* .sidebar-container {
    width: 30px;
    min-width: 200px;
  } */

  .generate-request-container,
  .view-requests-container,
  .view-orders-request-container,
  .view-sent-distribution-requests-container {
    min-width: 260px;
    background: white;
    -webkit-box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.24);
    box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.24);
    max-width: 640px;
    height: 600px;
    max-height: 640px;
    width: 450px;
  }
}
@media screen and (max-width: 800px) {
  .hamburger-icon {
    display: flex;
  }
  .navbar-middle {
    display: none;
  }
  .funding-container {
    display: none;
  }
  .profile-container {
    display: none;
  }

  .sidebar-container {
    display: none;
  }
  .side-bar-header {
    height: 43px;
    padding-bottom: 16px;
  }
  .subText {
    font-size: 10px;
  }
  .supplier-hub-container {
    margin-right: 0px;
  }
  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .generate-request-container,
  .view-requests-container,
  .view-orders-request-container,
  .view-sent-distribution-requests-container {
    min-width: 100px;
    background: white;
    -webkit-box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.24);
    box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.24);
    max-width: 500px;
    height: 600px;
    max-height: 600px;
    width: 95%;
  }
}
